body
{
    color: #333;
    text-align: left;
    font-family: "Arial";
}

#cabecera
{
    background: url("../Imagenes/pexels-engin-akyurt-1498273\(1\).jpg") no-repeat center center;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#cabecera #logo

{
    width: 20px;
    vertical-align: middle;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1

{
    font-size: 20px;
}

#post
{   
    background-attachment: fixed;
    padding: 1em;

}

#footer

{
    background-color: rgb(6, 214, 6);
   
    padding: 2px ;
    text-align: center;
    
   

}